.vscode/

**/lib/
**/bin/
**/vendor
**/input/
**/tmp/
**/.DS_Store


# Python
**/__pycache__/
include/
pyvenv.cfg
.venv/
.env

# JS/TS
dist/
node_modules/

# Rust
target/

# Zig
.zig-cache/
zig-out/

# Ocaml
_build/
